In [2]:
import pandas as pd
data=pd.read_csv("Watches_Bags_Accessories.csv", encoding='latin1')
data['Category']

0         Kids Watches
1         Kids Watches
2         Kids Watches
3         Kids Watches
4         Kids Watches
             ...
1073    Womens Watches
1074    Womens Watches
1075    Womens Watches
1076    Womens Watches
1077    Womens Watches
Name: Category, Length: 1078, dtype: object

In [4]:
new_category=data['Category']

In [6]:
from sklearn.preprocessing import LabelEncoder
obj=LabelEncoder()
Category=obj.fit_transform(new_category)

In [7]:
Category

array([0, 0, 0, ..., 6, 6, 6])

In [8]:
obj.classes_

array(['Kids Watches', 'Mens Accessories', 'Mens Bags', 'Mens Watches',
       'Womens Accessories', 'Womens Bags', 'Womens Watches'],
      dtype=object)

In [10]:
print(data.head())
print(data.info())
print(data.describe())

                                               Title Rating in Stars  \
0  Yfashion Cartoon  Electronic  Watch Life Water...           4.6/5
1  100% Imported LED watch for men , boys and Kid...           4.3/5
2  1 Cartoon Characters Analog Wrist Watch For Ki...           4.5/5
3  M3 Touch LED Bracelet Digital Watch Band Good ...           4.6/5
4            led Watches For Boys and Girls and kids           4.4/5

   Rating Count Sold Count Voucher       Delivery Currency Current Price  \
0           707    6K Sold       0  Free Delivery      Rs.           287
1           293    1K Sold       0              0      Rs.           270
2            57   452 Sold       0  Free Delivery      Rs.           225
3            51   332 Sold       0  Free Delivery      Rs.           160
4            54   476 Sold       0  Free Delivery      Rs.           198

  Original Price                                               Link  \
0        Rs. 520  //www.daraz.pk/products/y-led-3-i258744118-s14...
1        Rs. 999  //www.daraz.pk/products/100-led-2023-i40167553...
2        Rs. 750  //www.daraz.pk/products/1-i423737473-s20070599...
3        Rs. 299  //www.daraz.pk/products/m3-led-led-i432456407-...
4        Rs. 300  //www.daraz.pk/products/led-i398157365-s192654...

       Category
0  Kids Watches
1  Kids Watches
2  Kids Watches
3  Kids Watches
4  Kids Watches
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1078 non-null   object
 1   Rating in Stars  1078 non-null   object
 2   Rating Count     1078 non-null   int64
 3   Sold Count       1044 non-null   object
 4   Voucher          1078 non-null   object
 5   Delivery         1078 non-null   object
 6   Currency         1078 non-null   object
 7   Current Price    1078 non-null   object
 8   Original Price   1010 non-null   object
 9   Link             1078 non-null   object
 10  Category         1078 non-null   object
dtypes: int64(1), object(10)
memory usage: 92.8+ KB
None
       Rating Count
count   1078.000000
mean     202.360853
std      429.747239
min        0.000000
25%       25.000000
50%       68.000000
75%      184.750000
max     5553.000000

In [13]:
label_encoder = LabelEncoder()
data['Category'] = label_encoder.fit_transform(data['Category'])

In [18]:
X = data.drop(columns=['Category'])
y = data['Category']

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
model = RandomForestClassifier()
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

In [ ]:
y_pred_probabilities = model.predict_proba(X_test)

In [ ]:
top_three_classes = (-y_pred_probabilities).argsort()[:, :3]